prometheus.remote_write "default" {
  endpoint {
    url = sys.env("GRAFANA_ALLOY_METRICS_ENDPOINT")
    %{ if try(grafana_alloy_metrics_tenant, null) != null }
      headers = {
        "X-Scope-OrgID" = sys.env("GRAFANA_ALLOY_METRICS_TENANT"),
      }
    %{ endif }
  }

  external_labels = {
    k8s_cluster_name   = sys.env("GRAFANA_ALLOY_K8S_CLUSTER"),
  }
}
